 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  h1 {
    padding: 10px;

    color:linen;
  }

  ul {
    list-style:circle;
    padding: 15;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 20px;
  }

  p {
    margin-bottom: 20px;
  }
  .h01{
    background-color:teal;
    display:flexbox;
    border: 1px solid black;
    border-radius: 15px;
}